form {
  padding: 20px;
  margin: 20px;
}

html, body {
  margin: 0;
  height: 100%;
  background: black;
  color: white;
}

p {
  margin: 0;
}

h1 {
  font-size: 5rem;
}

.logo {
  height: 30px;
}

.centerElement {
  position: absolute;
  color: white;
  left: 20%;
  top: 30%;
  padding: 0;
  margin: 0;
}

.role {
  writing-mode: vertical-lr;
  text-orientation: upright;
  color: white;
  position: absolute;
  right: 30%;
  top: 10%;
  text-transform: uppercase;
  font-family: monospace;
  border-left: solid grey;
  border-width: thick;
}

.role h2 {
  font-size: 3rem;
}

#div1 {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent, black ), url("images/bg.jpg");
  position: relative;
}

#div2 {
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100%;
  color: white;
  position: relative;
  z-index: 1;
}

#div2 h2 {
  position: absolute;
  top: 0;
  height: 10%;
  right: 5%;
  left: 5%;
  text-align: left;
}

.label {
  position: absolute;
  bottom: 0;
  height: 5%;
  background: black;
  width: 100%;
  z-index: 1;
}

.paintings {
  position: absolute;
  bottom: 0;
  right: 5%;
  left: 5%;
  height: 90%;
  width: 90%;
}

.paintings img {
  position: relative;
  width: 100%;
  z-index: 0;
}

.div3 {
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100%;
  color: grey;
  position: relative;
  background-color: black;
  z-index: 1;
  background: linear-gradient(to bottom, black, transparent), url("images/bg.jpg");
}

.quote {
  position: absolute;
  top: 5%;
  right: 5%;
  border-left: solid grey;
  border-bottom: solid grey;
  width: 28%;
  height: 30%;
  color: white;
  justify-content: center;
}

.quote p {
  padding-top: 35px;
}

.quote2 {
  position: absolute;
  bottom: 5%;
  right: 5%;
  border-top: solid grey;
  border-left: solid grey;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  text-orientation: upright;
  width: 12%;
  height: 58%;
  color: white;
}

.quote2 p {
  font-size: 3rem;
  padding-right: 35px;
}

.div3 img {
  position: absolute;
}

.sec1 {
  position: absolute;
  top: 5%;
  left: 5%;
  border-right: solid;
  border-bottom: solid;
  height: 48%;
  width: 30%;
  background: url("images/art1.jfif") no-repeat;
  background-size: 90%;
  background-position: center;
}

.sec1p2 {
  position: absolute;
  top: 55%;
  left: 5%;
  border-top: solid;
  border-right: solid;
  height: 40%;
  width: 30%;
  background: url("images/art5.jfif") no-repeat;
  background-size: 90%;
  background-position: center;
}

.sec2 {
  position: absolute;
  top: 5%;
  left: 36%;
  border-left: solid;
  border-bottom: solid;
  border-right: solid;
  height: 40%;
  width: 30%;
  background: url("images/art2.jfif") no-repeat;
  background-size: 90%;
  background-position: center;
}

.sec3 {
  position: absolute;
  top: 47%;
  left: 36%;
  border-top: solid;
  border-left: solid;
  border-right: solid;
  height: 48%;
  width: 30%;
  background: url("images/art3.jfif") no-repeat;
  background-size: 90%;
  background-position: center;
}

.sec4 {
  position: absolute;
  top: 37%;
  left: 67%;
  border-top: solid;
  border-left: solid;
  border-right: solid;
  height: 58%;
  width: 15%;
  background: url("images/art4v2.jpg") no-repeat;
  background-size: 90%;
  background-position: center;
}

.display1 {
  height: 300px;
  top: 100px;
  left: 100px;
}

.display2 {
  height: 100px;
  top: 150px;
  left: 450px;
}

.display3 {
  height: 200px;
  top: 300px;
  left: 480px;
}

.display4 {
  height: 150px;
  top: 100px;
  left: 550px;
}

.display5 {
  height: 250px;
  top: 200px;
  left: 750px;
}

.msgInp {
  width: 500px;
  height: 100px;
}

.git {
  margin: 20px 20px 0 20px;
  padding: 20px;
}

.socialsdiv {
  height: 20px;
  text-align: center;
}

.socials {
  height: 30px;
  text-align: center;
}

.socials:hover {
  border: 1px solid;
}

.footer {
  color: white;
  display: table;
  text-align: center;
  margin: auto;
  text-align: center;
  width: 100%;
}


/* Media Queries */
@media screen and (max-width: 1000px) {
  nav {
    font-size: 2rem;
  }

  nav button {
    height: 100px;
  }
  
  h1 {
    margin: 0;
    padding: 0;
  }

  .div1 {
    margin: 0;
    padding: 0;
  }

  .centerElement {
    position: absolute;
    top: 20%;
    left: 10%;
    padding: 0;
    margin: 0;
    width: 50%;
  }

  .role {
    position: absolute;
    width: 30%;
    top: 20%;
    right: 10%;
    padding: 0;
    margin: 0;
  }

  #div2 {
    height: 50%;
  }

  .paintings {
    height: auto;
    top: 20%;
  }

  .btn {
    position: absolute;
    top: 40%;
  }

  .quote p {
    padding-top: 10%;
  }

  .quote2 p {
    font-size: 2rem;
    padding-right: 0;
  }
}
